.content {
  height: 100%;
  position: "relative";
}

.myLoading {
  height: 100vh;
}

.AoiTable {
  padding-right: 50px;
  margin-top: 20px;
}

#sidebar,
.AoiTableContainer {
  width: 550px;
  position: absolute;
  left: -600px;
  min-height: calc(100vh - 55px);
  z-index: 5;
  background: #292a2b;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(102, 67, 67, 0.2);
  height: auto;
  padding: 10px;
}

#sidebar.active {
  left: 0;
}

.AoiTableContainer.active {
  padding: 20px 10px 60px 10px;
  margin-top: 50px;
  left: initial;
  right: 0px;
  top: 0;
  height: 100vh;
  position: fixed;
  overflow: scroll;
}

#dismiss,
#dismiss-detail {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #3b3b3b;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover,
#dismiss-detail,
#dismiss:hover svg {
  filter: brightness(80%);
}

/* #dismiss:hover svg {
  color: #6f7072;
} */

#dismiss-detail.active {
  position: fixed;
  top: 70px;
  right: 10px;
}

#sidebar .ControlWrapper {
  padding: 60px 0;
}

#sidebar .ControlWrapper p {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

#sidebar .ControlWrapper .card {
  border: 1px solid #363c3f;
  margin: 30px auto;
}

#sidebar .ControlWrapper .card-header {
  background-color: #6f7072;
}

#sidebar .ControlWrapper .card-body {
  background-color: #a1a3a7;
}

.sidebarControlBtn {
  position: "absolute";
  top: "80px";
  left: "50px";
  z-index: 1;
  width: initial !important;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
}

.navbar-nav {
  width: 100%;
}

.nav-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.assessmentNav {
  position: fixed;
  top: 8vh;
  left: 2vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  z-index: 10;
}

.assessmentNav a {
  display: block;
  text-decoration: none;
  color: black;
}

.assessmentNav a:hover {
  text-decoration: underline;
  color: gray;
}

.reportNav {
  position: fixed;
  top: 8vh;
  left: 2vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  z-index: 10;
}

.reportNav a {
  display: block;
  text-decoration: none;
  color: black;
}

.reportNav a:hover {
  text-decoration: underline;
  color: gray;
}

.file-drop {
  width: 95% !important;
  height: auto;
  min-height: 200px;
  border: gray 2px dotted;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: all ease 0.3s;
}

.file-drop div {
  text-align: center;
  width: 100%;
  padding: 85px;
  cursor: pointer;
}

.file-drop:hover {
  background: gray;
}

.container.detail-buttons {
  margin-left: -20px;
  width: 110%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mt-4 {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
  margin: 0;
  padding: 0.5rem !important;
}

.mt-4 p {
  font-size: 20px;
  padding: 0 !important;
  margin: 0;
}

.mt-4 .h4 {
  font-size: 20px;
}

.reportDownload {
  position: absolute;
  right: 20px;
  top: 1%;
  margin-top: 10px;
}

.reportDownloadContainer {
  position: absolute;
  right: 20px;
  width: fit-content;
}

.reportDownloadContainer > div {
  margin-bottom: 20px;
}

.back-to-map > * .dropdown-menu {
  inset: 0px 0px auto auto !important;
}

#map {
  width: 100%;
  height: 25rem;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .assessmentNav {
    display: none;
  }
  .back-to-map {
    display: none;
  }
  .back-to-map > * {
    display: none;
  }
  .back-to-map > button {
    display: none;
  }

  #assessmentOverview {
    margin-top: -10rem;
  }
  #dataHeading {
    break-before: always;
  }
  #map {
    width: 100%;
    height: 25rem;
  }
  .graphRow {
    flex-wrap: nowrap !important;
  }
  .buttonGraph {
    display: none !important;
  }
}

.footprintDownload {
  position: absolute;
  right: 20px;
  top: 2%;
  margin-top: 10px;
}

#aFootprintDownloadButton {
  right: 0px;
  top: 85%;
}

.tableDownload {
  position: absolute;
  right: 0px;
  top: 205%;
}

/* 
.assessmentDownload {
  position: absolute;
  right: 20px;
  top: 1%;
  margin-top: 20px;
}

.reportSave {
  position: absolute;
  right: 20px;
  top: 3%;
}

.assessmentSave {
  position: absolute;
  right: 20px;
  top: 4%;
} 
*/

.downloadButton {
  height: 40px;
  width: 200px;
}

.legend {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 10px;
}

.legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  white-space: pre-wrap;
}

.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

#mapHeading {
  margin-top: 50px;
}

.report-h1 {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}

.assessment-h1 {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-top: 30px;
}

.form-group input {
  border-radius: 5px;
  margin: 0;
}

.form-btn-container {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

button.btn-dark.ml-1.btn {
  font-size: 14px;
  margin: 5px;
}

.btn-success,
.btn-secondary,
.btn-danger,
.btn-primary {
  min-width: 180px;
}

button.ml-1.btn.btn-danger {
  margin: 5px;
  font-size: 14px;
  min-width: initial;
}

button.sidebarControlBtn.btn.btn-secondary {
  min-width: initial;
  width: initial;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

#resetButton {
  color: red;
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  bottom: 2vh;
  right: 10px;
}

#sidebar .instruction {
  margin: 10px 0 30px 0;
  line-height: 1.25;
}

#sidebar .instruction p {
  margin: 0;
  font-size: 16px;
}

#sidebar .instruction p.note {
  font-size: 14px;
}

.add-assess-cont {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.error-text {
  color: red;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background: rgb(255, 193, 193);
  margin-left: 15px;
}

.sum-text {
  font-size: 24px;
}

#assessment-card {
  padding-bottom: 60px;
}

.smaller-text {
  font-size: 14px !important;
}

.total-text {
  margin-left: 20px;
}

.utility-btn-cont {
  display: flex;
  justify-content: space-between;
}

.utility-wrap {
  margin-top: 20px;
  padding: 0 !important;
}

.hover-icon:hover {
  cursor: pointer;
}

h4 {
  margin-top: 20px;
  font-size: 18px !important;
}

.no-margin {
  margin-bottom: 0;
}

.no-padding {
  padding-left: 0 !important;
}

.measure-container {
  background: rgba(80, 80, 80, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.slider-buttons {
  display: flex;
  position: relative;
  width: fit-content;
}

.slider-buttons > button {
  width: 5rem;
  text-align: center;
  background: none;
  color: rgb(82, 82, 82);
  border: none;
  min-width: 5rem;
}

.slider-buttons > button:hover {
  background: none;
  color: rgb(82, 82, 82);
}

.slider-buttons > button:focus {
  background: none;
  color: rgb(82, 82, 82);
  box-shadow: none !important;
}
.slider-buttons > button:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
  color: rgb(82, 82, 82) !important;
}
.slider-buttons > span {
  background: #50b9ff;
  width: 5rem;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: ease 0.15s;
}

.slider-buttons > *:hover + span {
  left: 50%;
}

.modal-footer button.btn.btn-secondary {
  width: initial;
}

.modal-footer button.btn.btn-danger {
  width: initial;
  font-weight: bold;
}

.modal-footer {
  justify-content: space-between !important;
}

.timeout.modal-footer {
  justify-content: center !important;
}

.logo-container-homepage {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 50%;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
}

.logo {
  padding: 10px;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

a img.logo {
  width: 100%;
}

.__react_component_tooltip {
  max-width: 350px;
}

.tool-link {
  color: whitesmoke;
  text-decoration: underline;
}

.tool-link:hover {
  color: rgb(0, 86, 179);
}

.accordion-dropdown {
  display: flex;
  justify-content: space-between;
}

.accordion-dropdown p {
  margin: 0;
  padding: 0 !important;
  font-size: 14px !important;
}

.accordion .card:first-child {
  margin-bottom: 0 !important;
}

.accordion .card:nth-child(2) {
  margin-top: 0 !important;
}

.edit-instructions {
  margin: -10px 0 5px 0 !important;
  padding: 0 !important;
  font-size: 16px !important;
}

.back-to-map {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 20px;
}

.basemapButton {
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 2;
  min-width: 30px;
  min-height: 42px;
}

.basemapSwitch {
  position: fixed;
  top: 77px;
  right: 30px;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  text-align: end;
  transition: all ease 0.3s;
}

.multi-switch-container {
  height: 42px !important;
}

/* span.multi-switch-handle.multi-switch-handle-move {
  top: 0;
} */

.multi-switch-content:hover {
  background: lightsteelblue;
  border-radius: 30px;
  top: 0;
}

.overlayButton {
  position: fixed;
  top: 122px;
  right: 10px;
  z-index: 2;
  min-width: 30px;
  min-height: 42px;
}

.overlaySelect {
  position: fixed;
  top: 122px;
  right: 52px;
  z-index: 2;
  width: 200px;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: gray;
}

.glow {
  display: inline-block;
  width: initial !important;
  padding: 10px;
  text-decoration: none;
  margin-top: 30px;
  border: none;
  outline: none;
  color: #fff;
  position: relative;
  z-index: 0;
}

.glow:hover {
  text-decoration: none;
}

.glow:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 10s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow:before {
  opacity: 1;
}

.glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #292a2b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bug-icon-btn {
  position: absolute;
  bottom: 20px;
  z-index: 9;
  background: none !important;
  min-width: initial !important;
  border: none !important;
}

.mapboxgl-ctrl-top-right {
  top: 100px !important;
  right: 18px !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-group button {
  width: 40px !important;
  height: 40px !important;
}

/* Hexagon score table */

.score-table {
  position: absolute;
  top: 56px;
  width: 500px;
  height: 94.3vh;
  right: -500px;
  z-index: 10;
  overflow-y: scroll;
  transition: all 0.3s;
}

.score-table.active {
  right: 0;
}

/* Report and assessment */

#reportSaveButton,
#assessmentSaveButton {
  width: auto;
  min-width: 200px;
}

#reportOverview .container,
#assessmentOverview .container {
  width: 65%;
}

.modal-dialog.modal-xl.modal-dialog-centered {
  min-width: 800px;
}

.recharts-legend-wrapper {
  right: 0 !important;
}

/* Entire plan table */

.plan-table-wrapper {
  width: 100%;
}

.plan-table {
  display: flex;
  width: 100%;
  height: 94.2%;
  align-items: stretch;
}

.filter-button {
  margin: 20px 20px 0px;
}

.plan-submission-entry {
  position: absolute;
  right: 10px;
  margin: 25px 25px 0px;
  cursor: pointer;
}

#large-filter-pane {
  display: flex;
  color: #fff !important;
  width: 100%;
  height: 10%;
  background-color: #37383f;
  justify-content: space-between;
}

.large-filter-pane-header {
  display: flex;
  margin: 5px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.large-filter-pane-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.large-filter-pane-component {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

/* Table on map */

.table-container-wrapper {
  position: absolute;
  z-index: 500;
  top: 20%;
  right: 2%;
  width: 40%;
  padding: 10px;
  max-height: 60%;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#map-table-container {
  background-color: white;
}

#map-table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#map-table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

.map-table-filter-button {
  position: absolute;
  margin: 5px;
}

#small-filter-pane {
  display: flex;
  color: #fff !important;
  width: 100%;
  height: 20%;
  background-color: #37383f;
  justify-content: space-between;
}

.small-filter-pane-header {
  display: flex;
  margin: 5px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.small-filter-pane-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.small-filter-pane-component {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-between;
  align-items: left;
}

/* Resources Page */

.resources-block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  height: 40%;
}

/* Homepage */

.card-home {
  cursor: pointer;
  overflow: hidden;
}
.card-home:hover > .card-home-container {
  height: 40%;
  min-height: 40%;
}

.card-home-container {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  transition: ease 0.3s;
}

.card-home-background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  object-fit: cover;
  min-width: 100%;
}

.card-home-title {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #0000009e, #2a28358c);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2em;
}

.card-home-description-container {
  padding: 10px;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.card-home-description-container > p {
  overflow: auto;
  flex-grow: 1;
  font-size: 0.95em;
  color: #444444;
  line-height: 1.65;
  padding-right: 10px;
}

/* width */
.card-home-description-container > p::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.card-home-description-container > p::-webkit-scrollbar-track {
  background: #ffffff00;
  margin-left: 5px;
}

/* Handle */
.card-home-description-container > p::-webkit-scrollbar-thumb {
  background: rgb(195, 195, 195);
  border-radius: 6px;
}

/* Handle on hover */
.card-home-description-container > p::-webkit-scrollbar-thumb:hover {
  background: rgb(137, 137, 137);
}

@media only screen and (min-width: 1750px) {
  .home-page-wrapper {
    font-size: 114.229765%;
  }
}
@media only screen and (min-width: 1900px) {
  .home-page-wrapper {
    font-size: 124.020887%;
  }
}

@media only screen and (max-width: 1140px) {
  .home-page-wrapper {
    font-size: 80.21875%;
  }
  .card-home-holder {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 850px) {
}

.userMeasures {
  display: flex;
  flex: 1;
}

.userMeasures > .container {
  padding: 40px;
  background: #fafafa;
  box-sizing: border-box;
}

#largeAOI-progress-bar {
  position: fixed;
  top: 60%;
  left: 40%;
  z-index: 901;
  height: 20px;
  width: 300px;
}
